body, p, a, li, div, input, button {
	font-family: Cantarell, sans-serif;
}

a, a:visited, a:active, a:link {
  color: #3C6EB4;
}

body {
  background: white;
  color: black;
  font-size: 12pt;
  height: auto;
  padding-bottom: 20px;
}

#header-main {
  color: #3c6eb4; 
}

#header-main h1 {
	margin-top: -14px;
	margin-bottom: 0px !important;
	height: 62px;
	width: 155px;
	display: block;
	text-indent: -9999px;
}

#header-main h1 a {
	height: 62px;
	width: 155px;
	display: block;
}

#header-streams h1 span#logo {
	margin-top: 1.6em;
	height: 45px;
	width: 155px;
	display: block;
	text-indent: -9999px;
	background:transparent url("http://fedoraproject.org/static/css/../images/fedora-logo.png") no-repeat scroll 0px 0px;
}
#header-streams h1 a {
 	font-family: "ComfortaaRegular", "sans-serif" !important;
	text-transform: lowercase;
	color: #8c8c8c;
	font-size: 25pt;
	font-weight: normal;
        line-height: 88%;
	text-decoration: none;
        display: block;
	width: 155px;
	margin-top: 0px !important;
	margin-bottom: 1.6em;
}

#lang-select {
  float: right;
}


h1#logo {
  padding-top: 80px;
  padding-bottom: 80px;
}


/* Grid Stuff */

.grid_filter {
  margin-top: 12px;
}

#grid-controls {
  margin-bottom: 16px;
}

.grid_filter h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: .8em;
  color: #777;
}

table {
  font-size: 10pt !important;
}

/* Footer Stuff */


#main_app { /* compensation for footer not displaying right now */
  padding-bottom: 75px !important;
}

#bottom {
    /*border-top: 5px #4B9EDE solid; // this is an alternative */
    padding: 30px 0px 0px 0px;
    /* may not be needed */
    margin:0;
    width:100%;
}

#bottom a {
    font-weight: normal;
}

#bottom a:hover {
  color: black !important;
  background-color: #fcf7d5;
}

#footer .rh-logo {
	width: 100px;
}

#footer {
		margin-top: 2em;
    background-image: none;
    color: #4d4d4d;
    padding-bottom: 15px;
    font-size: .65em;
}

#footer a {
    color: #3771c8;
}

#footer .rh-logo {
    float: left;
    margin-right: 15px;
}

#footer p {
    margin: 0px;
}

#footer .disclaimer {
    font-style: italic;
}

#footer ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:0.8em;
		margin-top: 1em;
}

#footer li.first {
    border-left:medium none;
    padding-left: 1px;
}

#footer li {
    border-left:1px solid #AAAAAA;
    display:inline;
    margin-left:-1px;
    padding:0 0.75ex;
}

.sitelinks {
    line-height: 1.6;
    color: #808080;
}

.sitelinks a {
    color: #808080;
    text-decoration: none;
}

.sitelinks dt {
    font-weight: bold;
}
